<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    UserName: <%=userDetails.username%><br>
    Phone No: <%=userDetails.contact%><br>
    Email: <%=userDetails.email%><br>
    <%for(items of allItems){%>
        <%=items.donate%><br>
            description: <%=items.des%><br>
            Location: <%=items.location%><br>
            Status: <%if(items.status){%>
                Accepted<br>By: <%=items.doneeUsername%>
                <a href="/showDetails/<%=items.doneeId%>">Visit Profile</a>
            <%}else{%>
                 Not Accepted
                <%}%><br>
                <%}%>     
    <a href="/home">Home</a> 
          
</body>
</html>