<% layout('../layouts/boilerplate') %>





    <body>
        <div id="map" style='width:100%;height:300px;'></div>
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
                <%for(items of allItems){%>
                    <%if(!items.status){%>
                        <h5 class="card-title">
                            Type of Donation : <%=items.donate%><br>
                                Location: <%=items.location%>
                        </h5>

                        <p class="card-text">
                            description: <%=items.des%><br></p>

                        <a href="#!" class="btn btn-info">
                            <form action="/<%=items._id%>/Status" method="POST">
                                <label for="Status">Status</label>
                                <!-- <input type="radio" id="accept" name="accept"> -->
                                <button class="btn btn-outline-light btn-info">Accept</button>
                            </form>
                        </a>
                    <%}%>               
                <%}%>
            </div>
            
            </div>
              

        <!-- <h1>Show</h1> -->
        
        <!--  -->
                

                                    <a href="/">Home</a>
                                    <a href="donate">Donate</a>
                                    <script>
                                        const mapToken='<%-process.env.MAPBOX_TOKEN %>';
                                        //const mapToken = 'pk.eyJ1IjoibXVuYWYxMDAwIiwiYSI6ImNsa2I0YnB5cDA4cHYzYm8wYW54dnU3cWMifQ.lwRg1gI5-BcLTmHPKPUmwQ';
                                        const items ={features:<%- JSON.stringify(allItems) %>}
                                    </script>
                                    <script src="/mapbox.js"></script>